/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 //overlay stuff needs to get fixed first!
    &{/leds/led_1} {
	label = "led1a";  // Keeping the original as is
    };

//     &{/leds0/led_1} {
// 	label = "led1a";  // Renaming to a unique identifier
//     };

 / {
	leds0 {
	    compatible = "gpio-leds";
	    led1: led_1 {
		gpios = <&gpio9 1 GPIO_ACTIVE_HIGH>;
		label = "Green LED 1";
	    };
	};

	aliases {
	    led1 = &led1;
	};

	chosen {
	    zephyr,console = &uart136;
	};
    };

    &gpio9 {
	status = "okay";
    };

    &gpiote130 {
	owned-channels = <0>;
	status = "okay";
    };

// // temp fix to compile for radio core:
//     &uart136 {
// 	status = "okay";
// 	memory-regions = <&cpurad_dma_region>;
//     };

//     &cpuapp_dma_region {
// 	    reg = <0xe80 0x80>;
//     };

//     &cpurad_dma_region {
// 	reg = <0xf00 DT_SIZE_K(4)>;
//     };

//     DPPIC020 for the Radio Core and DPPIC030 for peripheral interactions
//     &dppic020 {
// 	status = "okay";
// 	// source-channels = < 0 1 >;
// 	// sink-channels = < 2 3 >;
// 	source-channels = <0 1 2 3 4 5>;
// 	sink-channels = <6 7 8 9 10 11>;
//     };
